{% extends "base.html" %}
{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 bg-color-my-projects section-column">
            <h3 class="section-heading uppercase text-center">
                {{ _('My Projects') }}
            </h3>
            <div class="my-project-list row justify-content-center">
                <div class="flip-card col-md-5 m-3 p-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ url_for('static', filename='images/lgbtq-club.png') }}"
                                alt="{{ _('LGBTQ Club Website Image') }}" loading="lazy">
                        </div>
                        <div class="flip-card-back">
                            <div class="projects-description">
                                <h4>{{ _('LGBTQ+ Club Website') }}</h4>
                                <p>{{ _('It is a front-end project using only HTML and CSS. The website is structured
                                    with clear sections for Home, Events, Resources, and Find Us, prioritizing user
                                    engagement, accessibility, and a visually appealing experience that aligns with
                                    the community\'s values.') }}</p>
                                <div class="project-buttons">
                                    <a href="https://mawadda-kadi.github.io/LGBTQ-Club-Project/index.html"
                                        class="site-btn" target="_blank" aria-hidden="true">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ _('View Site') }}
                                    </a>
                                    <a href="https://github.com/Mawadda-Kadi/LGBTQ-Club-Project" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-brands fa-github"></i> {{ _('GitHub') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card col-md-5 m-3 p-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ url_for('static', filename='images/card-game.png') }}"
                                alt="{{ _('Card Game Image') }}" loading="lazy">
                        </div>
                        <div class="flip-card-back">
                            <div class="projects-description">
                                <h4>{{ _('Card Memory Game') }}</h4>
                                <p>{{ _('It is a front-end mini-game using HTML, CSS, and JavaScript. The
                                    user-centric design and functionality provide an engaging and intuitive
                                    experience for players, encouraging them to exercise memory skills and enjoy the
                                    challenge of the memory card game.') }}</p>
                                <div class="project-buttons">
                                    <a href="https://mawadda-kadi.github.io/card-game-memory/" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ _('View Site') }}
                                    </a>
                                    <a href="https://github.com/Mawadda-Kadi/card-game-memory" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-brands fa-github"></i> {{ _('GitHub') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card col-md-5 m-3 p-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ url_for('static', filename='images/remote-working-survey.png') }}"
                                alt="{{ _('Remote Working Survey Image') }}" loading="lazy">
                        </div>
                        <div class="flip-card-back">
                            <div class="projects-description">
                                <h4>{{ _('Remote Working Survey') }}</h4>
                                <p>{{ _('It is a Python-based project designed to collect and analyze survey data
                                    related to remote working. Utilizing the Google Sheets API for data storage and
                                    management, and incorporating statistical analysis with the SciPy library.') }}
                                </p>
                                <div class="project-buttons">
                                    <a href="https://remote-working-survey-7d3459fee416.herokuapp.com/"
                                        class="site-btn" target="_blank" aria-hidden="true">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ _('View Site') }}
                                    </a>
                                    <a href="https://github.com/Mawadda-Kadi/remote-working-survey" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-brands fa-github"></i> {{ _('GitHub') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card col-md-5 m-3 p-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ url_for('static', filename='images/altliebe.png') }}"
                                alt="{{ _('Altliebe Website Image') }}" loading="lazy">
                        </div>
                        <div class="flip-card-back">
                            <div class="projects-description">
                                <h4>{{ _('Altliebe') }}</h4>
                                <p>{{ _('It is an online marketplace for vintage and second-hand goods where users
                                    can buy and sell items. Built using Python, HTML, CSS, and JavaScript, it
                                    leverages Django as its primary framework, Bootstrap, PostgreSQL and
                                    Cloudinary.') }}</p>
                                <div class="project-buttons">
                                    <a href="https://altliebe-e30d7366fcef.herokuapp.com/" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ _('View Site') }}
                                    </a>
                                    <a href="https://github.com/Mawadda-Kadi/altliebe/tree/main" class="site-btn"
                                        target="_blank" aria-hidden="true">
                                        <i class="fa-brands fa-github"></i> {{ _('GitHub') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card col-md-5 m-3 p-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ url_for('static', filename='images/cherry-leaf-detector.png') }}"
                                alt="{{ _('Mildew Detection in Cherry Leaves Website Image') }}" loading="lazy">
                        </div>
                        <div class="flip-card-back">
                            <div class="projects-description">
                                <h4>{{ _('Mildew Detection in Cherry Leaves') }}</h4>
                                <p>{{ _('It is a machine learning project designed to predict whether a cherry leaf
                                    is infected with powdery mildew using image analysis. This Python-based project
                                    utilizes Jupyter Notebook, Streamlit, NumPy, Pandas, TensorFlow and more.') }}
                                </p>
                                <div class="project-buttons">
                                    <a href="https://leaf-health-detector-d9e18fb74a55.herokuapp.com/"
                                        class="site-btn" target="_blank" aria-hidden="true">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ _('View Site') }}
                                    </a>
                                    <a href="https://github.com/Mawadda-Kadi/mildew-detection-in-cherry-leaves"
                                        class="site-btn" target="_blank" aria-hidden="true">
                                        <i class="fa-brands fa-github"></i> {{ _('GitHub') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}