{% extends "base.html" %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-10 bg-color-my-projects section-column">
            <h3 class="section-heading uppercase">
                My Projects
            </h3>
            <div class="my-project-list">
                <div class="project">
                    <div class="projects-description">
                        <h4>Project 1</h4>
                        <p>description</p>
                        <a href="#" class="site-btn" target="_blank"><i class="fa-solid fa-link"></i></a>
                        <a href="#" class="site-btn" target="_blank" aria-hidden="true">View Site</a>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="project">
                    <div class="projects-description">
                        <h4>Project 2</h4>
                        <p>description</p>
                        <a href="#" class="site-btn" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a href="#" class="site-btn" target="_blank" aria-hidden="true">View Site</a>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="project">
                    <div class="projects-description">
                        <h4>Project 3</h4>
                        <p>description</p>
                        <a href="#" class="site-btn" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a href="#" class="site-btn" target="_blank" aria-hidden="true">View Site</a>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="project">
                    <div class="projects-description">
                        <h4>Project 4</h4>
                        <p>description</p>
                        <a href="#" class="site-btn" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a href="https://github.com/Mawadda-Kadi/altliebe/tree/main" class="site-btn" target="_blank" aria-hidden="true">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="project">
                    <div class="projects-description">
                        <h4>Project 5</h4>
                        <p>description</p>
                        <a href="#" class="site-btn" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a href="#" class="site-btn" target="_blank" aria-hidden="true">View Site</a>
                    </div>
                    <img src="" alt="">
                </div>

            </div>
        </div>

        {% endblock %}