{% extends "base.html" %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-work-history section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="history-heading uppercase">{{ _('My History') }}</h3>
                </div>
            </div>
            <div class="history-items">
                <div class="timeline-item" data-dates="07/01/2025 - 31/01/2025">
                    <h4>{{ _('future Training & Consulting') }}</h4>
                    <p>{{ _('Completed an internship') }}</p>
                </div>
                <div class="timeline-item" data-dates="11/2023 - 04/2024">
                    <h4>{{ _('Code Institute in Dublin') }}</h4>
                    <p>{{ _('Attended an online course in Full Stack Development') }}</p>
                </div>
                <div class="timeline-item" data-dates="06/2008 - 06/2011">
                    <h4>{{ _('Alpha School in Halle, Germany') }}</h4>
                    <p>{{ _('Attended a German language course from A1 to C1') }}</p>
                </div>
                <div class="timeline-item" data-dates="07/2017 – 04/2019">
                    <h4>{{ _('Unified Security Operations Center (911) in the Makkah Region, Saudi Arabia') }}</h4>
                    <p>{{ _('Worked as an emergency call operator') }}</p>
                </div>
                <div class="timeline-item" data-dates="02/2012 – 03/2017">
                    <h4>{{ _('Effat University in Saudi Arabia') }}</h4>
                    <p>{{ _('Administrative Assistant in the Quality Control Department') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">{{ _('My Skills') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-tv" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">{{ _('Front End') }}</h4>
                            <p>
                                {{ _('I possess strong front-end development skills, including HTML, CSS, JavaScript, and TypeScript. I am experienced with frameworks such as React and Next.js for building dynamic and interactive web applications. Additionally, I use SASS for enhanced styling and Bootstrap for responsive design, enabling me to create visually appealing and functional user interfaces.') }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-gears" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">{{ _('Back End') }}</h4>
                            <p>
                                {{ _('I specialize in developing data-driven web applications, focusing on utilizing document-based data. My back-end skills include using Python with Flask and Django, as well as PHP with Laravel for robust web development. I also have experience with Java for back-end programming. Additionally, I work with relational databases such as SQL and PostgreSQL (PgSQL) for efficient data management, along with data analysis tools like Pandas and NumPy to process and present information effectively.') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row progress-section">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                            style="width: 80%;">
                            <span class="sr-only">{{ _('80 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('HTML / HTML5') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">{{ _('70 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('CSS / CSS3') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">{{ _('60 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('JavaScript / jQuery') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">{{ _('70 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('Django / Python') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100" style="width: 50%;">
                            <span class="sr-only">{{ _('50 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('Java') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100" style="width: 65%;">
                            <span class="sr-only">{{ _('65 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('SQL / NoSQL') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">{{ _('60 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('PHP') }}</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">{{ _('70 percent complete') }}</span>
                        </div>
                        <span class="progress-type">{{ _('TypeScript') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}