{% extends "base.html" %}
{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-work-history section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="history-heading uppercase">
                        My History
                    </h3>
                </div>
            </div>
            <div class="history-items">
                <div class="timeline-item" data-dates="11/2023 - 04/2024">
                    <h4>Code Institute in Dublin</h4>
                    <p>Einen Online-Kurs in Full Stack Development besucht</p>
                </div>
                <div class="timeline-item" data-dates="06/2008 - 06/2011">
                    <h4>Alpha Schule in Halle in Deutchland</h4>
                    <p>Einen Deutschkurs von A1 bis C1 besucht</p>
                </div>
                <div class="timeline-item" data-dates="07/2017 – 04/2019">
                    <h4>Unified Security Operations Center (911) in der Region
                    Mekka in Saudi Arabien</h4>
                    <p>Mitarbeiterin der Notrufannahme</p>
                </div>
                <div class="timeline-item" data-dates="02/2012 – 03/2017">
                    <h4>Effat Universität in Saudi Arabien</h4>
                    <p>Verwaltungsassistentin im Dekanat
                        für Qualitätskontrolle</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">My Skills</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-tv" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Front End</h4>
                            <p>
                                I possess relatively strong front-end development skills, including HTML, CSS, and JavaScript. I am also
                                experienced with frameworks such as Bootstrap for responsive design and Flask for web development, enabling me to
                                create visually appealing and functional user interfaces.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-gears" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Back End</h4>
                            <p>
                                I specialize in developing data-driven web applications, focusing on utilizing document-based data. My back-end
                                skills include using Python and Django for robust web development, along with data analysis tools like Pandas and
                                NumPy to process and present information effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row progress-section">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100" style="width:80%;">
                            <span class="sr-only">80% complete</span>
                        </div>
                        <span class="progress-type">HTML / HTML5</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:70%;">
                            <span class="sr-only">70% complete</span>
                        </div>
                        <span class="progress-type">CSS / CSS3</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%;">
                            <span class="sr-only">60% complete</span>
                        </div>
                        <span class="progress-type">JavaScript / jQuery</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:70%;">
                            <span class="sr-only">70% complete</span>
                        </div>
                        <span class="progress-type">Django / Python</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100" style="width:65%;">
                            <span class="sr-only">65% complete</span>
                        </div>
                        <span class="progress-type">SQL / NoSQL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}